################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/BIN/libcef.dll
/.vs/GarboTeste2/FileContentIndex
/.vs
/__history
